#root {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.25rem;
  margin: 0.6em 0;
}

.text--initial {
  color: inherit;
}

.text--lose {
  color: var(--color-lose);
}

.text--win {
  color: var(--color-win);
}

.text--neutral {
  color: var(--color-neutral);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  max-width: 700px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.board-container {
  display: block;
  padding-top: 0;
}

.aside {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 15px;
  }

  .board-container {
    display: flex;
  }

  .board {
    padding-top: 15px;
    flex-grow: 1;
  }

  .stats {
    flex-basis: 40%;
  }
}
